@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --navbar-height: 64px;
  --background-white: #fff;
  --font-dark: #2c3850;
  --color-primary: #6ab0da;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--font-dark);
  margin: 0;
  padding: 0;
  text-align: left;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3.25rem;
}

h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-primary);
}

h5 {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--font-dark);
  line-height: 2rem;
}

p {
  line-height: 1.5rem;
}
